@import './../../../styles/global.scss';

.gallery {
  margin: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 54px;
  padding-bottom: 70px;
  &__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &__title {
    color: $blackColorText;
    @include mainFontSemibold;
    font-size: 56px;
    line-height: 100%; /* 56px */
    margin: 0;
    padding-top: 3px;
  }
  &__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 20px;
    &-btn {
      color: $buttonBGColor;
      background-color: $redColor;
      padding: 0;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &:disabled {
        background-color: $buttonBGColor;
        color: $redColor;
        cursor: default;
      }
      & svg {
        width: 56px;
        height: 56px;
      }

      &_left {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  &__slider {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 28px;
    &-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-transition: -webkit-transform 0.3s ease-in-out;
      transition: -webkit-transform 0.3s ease-in-out;
      -o-transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }

    &-image {
      max-width: 100%;
      max-height: 834px;
      display: block;
    }
  }
  &__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &-item {
      width: 100%;
      height: 6px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &_current {
        background-color: $redColor;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .gallery {
    margin: 0 25px;
    padding-bottom: 62px;
    &__title {
      font-size: 48px;
    }
    &__navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      gap: 20px;
      &-btn {
        color: $buttonBGColor;
        background-color: $redColor;
        padding: 0;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:disabled {
          background-color: $buttonBGColor;
          color: $redColor;
          cursor: default;
        }
        & svg {
          width: 48px;
          height: 48px;
        }
      }
    }
    &__slider {
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 22px;

      &-image {
        max-height: 734px;
      }
    }
    &__pagination {
      gap: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    margin: 0 25px;
    gap: 30px;
    padding-bottom: 55px;
    &__title {
      font-size: 44px;
    }
    &__navigation {
      gap: 10px;
      &-btn {
        & svg {
          width: 44px;
          height: 44px;
        }
      }
    }
    &__slider {
      gap: 18px;

      &-image {
        max-height: 500px;
      }
    }
    &__pagination {
      gap: 10px;
    }
  }
}

@media screen and (max-width: 560px) {
  .gallery {
    padding-bottom: 49px;
    &__navigation {
      display: none;
    }
  }
}

@media screen and (max-width: 520px) {
  .gallery {
    margin: -2px 7px;
    gap: 15px;
    &__title {
      font-size: 28px;
    }

    &__slider {
      gap: 10px;

      &-image {
        max-height: 500px;
      }
    }
    &__pagination {
      gap: 5px;
      &-item {
        height: 4px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    &__pagination {
      display: none;
    }
  }
}
