@import './../../styles/global.scss';

.benefit {
  max-width: 178px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &__icon {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $redColorText;
    & svg {
      max-height: 48px;
      max-width: 66px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__text {
    color: $blackColorText;
    text-align: center;
    @include mainFontRegular;
    font-size: 18px;
    line-height: 110%; /* 19.8px */
    white-space: pre-wrap;
  }
}

@media screen and (max-width: 520px) {
  .benefit {
    max-width: 120px;
    width: 100%;

    //TODO проверить opacity у иконок
    &__icon {
      width: 80px;
      height: 80px;
      & svg {
        max-height: 34.9px;
        max-width: 50px;
      }
    }
    &__text {
      font-size: 16px;
    }
  }
}
