@import './../../../styles/global.scss';

.numbers {
  justify-self: center;
  display: flex;
  gap: 80px 180px;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 180px;
  box-sizing: border-box;
  justify-content: center;

  opacity: 0;
  transform: translateY(150px);
  transition: opacity 0.6s, transform 0.6s;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width: 1024px) {
  .numbers {
    gap: 60px 130px;
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .numbers {
    gap: 30px 80px;
    padding: 0 30px;
  }
  
}

@media screen and (max-width: 520px) {
  .numbers {
    gap: 8px 24px;
    padding: 0 5px;
  }

}