@import './../../../styles/global.scss';

.info {
  max-width: 1110px;
  width: 100%;
  align-self: center;
  padding: 100px 110px;
  box-sizing: border-box;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.08);

  &__text {
    @include mainFontSemibold;
    font-size: 32px;
    line-height: 120%;
    color: $blackColorText;
    text-align: center;
    margin: 0;
    &_red {
      color: $redColorText;
    }
  }
}

@media screen and (max-width: 1024px) {
  .info {
    padding: 70px 75px;
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);
    &__text {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 768px) {
  .info {
    padding: 35px 25px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.08);
    &__text {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 520px) {
  .info {
    margin-top: 10px;
    padding: 24px 5px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    &__text {
      font-size: 16px;
    }
  }
}
