@import './../../../styles/global.scss';

.map {
  display: flex;
  flex-direction: column;
  gap: 88px;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap:  20px;
    // max-height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 70px 0 70px;
    box-sizing: border-box;
    background-color: $whiteBGColor;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
    z-index: 5;
  }

  &__drawer {
    z-index: 2;
    width: 100%;
    min-height: 100px;
    position: absolute;
    padding: 30px 0px;
    box-sizing: border-box;
    top: -200%;
    left: 0;
    background-color: $whiteBGColor;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease-in-out;
    &_visible {
      top: 100px;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 8px 0 0px;
      box-sizing: border-box;
      gap: 24.3px;
    }
    &-column {
      display: flex;
      flex-direction: column;

      &-title {
        margin: 0;
        color: $blackColorText;
        @include secondaryFontSemibold;
        font-size: 18px;
        line-height: 20px; /* 111.111% */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        white-space: nowrap;

        & svg {
          width: 10px;
          height: 10px;
        }
      }
      &-item {
        margin: 12px 0 0;
        opacity: 1;
        color: $blackColorText;
        @include secondaryFontRegular;
        font-size: 18px;
        line-height: 20px;
        transition: all 0.3s ease-in-out;

        &_collapse {
          margin: 0;
          opacity: 0;
          height: 0;
          width: 0;
          overflow: hidden;
        }
      }

      &-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        transition: all 0.3s ease-in-out;
        transform: rotate(180deg);
        &_collapse {
          transform: rotate(0);
        }
      }
    }
  }

  &__btn {
    max-height: 24px;
    max-width: 185px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: $blackColorText;
    cursor: pointer;
    & svg {
      transition: all 0.3s ease-in-out;
      width: 24px;
      height: 24px;
    }
    &-title {
      margin: 0;
      @include mainFontSemibold;
      font-size: 24px;
      line-height: 100%; /* 24px */
    }

    &_drawer-visible {
      & svg {
        transform: rotate(180deg);
      }
    }
  }
  &__regions {
    margin: 2px 0 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    gap: 30.5px;
    transition: all 0.3s ease-in-out;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 0;
    }
    &_drawer-visible {
      opacity: 0.1;
      pointer-events: none;
    }
    &-item {
      margin: 0;
      padding-bottom: 27px;
      color: $blackColorText;
      @include mainFontSemibold;
      font-size: 18px;
      line-height: 20px; /* 111.111% */
      box-sizing: border-box;
      cursor: pointer;
      white-space: nowrap;

      &_selected {
        color: $redColor;
        border-bottom: 3px solid $redColor;
      }
    }
  }
  &__map {
    max-width: 1190px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow-x: scroll;
    transition: all 0.3s ease-in-out;
    &::-webkit-scrollbar {
      width: 0;
    }
    &_drawer-visible {
      opacity: 0.3;
    }
    & svg {
      max-height: 604px;
    }
  }
}

text {
  @include mainFontSemibold;
  color: $blackColorText;
  line-height: 100%;
  transform: translate(5px, -6px);
}

@media screen and (max-width: 1100px) {
  .map {
    gap: 70px;

    &__header {
      gap: 20px;
      padding: 26px 50px 0;
      box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.06);
    }

    &__drawer {
      padding: 30px;
      box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.06);
      &_visible {
        top: calc(0% + 130px);
      }

      &-container {
        gap: 22px;
        flex-wrap: wrap;
      }
    }

    &__btn {
      gap: 16px;
    }
    &__regions {
      gap: 26px;
      &-item {
        margin: 0;
        padding-bottom: 28px;
        color: $blackColorText;
        @include mainFontSemibold;
        font-size: 18px;
        line-height: 20px; /* 111.111% */
        box-sizing: border-box;
        cursor: pointer;
        white-space: nowrap;
      }
    }
    &__map {
      max-width: 1190px;
    }
  }
}

@media screen and (max-width: 768px) {
  .map {
    gap: 70px;

    &__header {
      gap: 20px;
      padding: 26px 50px 0;
      box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.06);
    }

    &__drawer {
      padding: 30px;
      box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.06);
      &_visible {
        top: calc(0% + 130px);
      }

      &-container {
        gap: 22px;
        flex-wrap: wrap;
      }
    }

    &__btn {
      gap: 16px;
      & svg {
        width: 20px;
        height: 20px;
      }
    }
    &__regions {
      gap: 26px;
      &-item {
        margin: 0;
        padding-bottom: 28px;
        color: $blackColorText;
        @include mainFontSemibold;
        font-size: 18px;
        line-height: 20px; /* 111.111% */
        box-sizing: border-box;
        cursor: pointer;
        white-space: nowrap;
      }
    }
    &__map {
      max-width: 1190px;
    }
  }
}

@media screen and (max-width: 520px) {
  .map {
    gap: 8.16px;
    min-height: 550px;

    &__header {
      gap: 18px;
      padding: 20px 5px 0 5px;
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);
    }

    &__drawer {
      padding: 30px;
      box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.06);
      &_visible {
        top: calc(0% + 130px);
      }

      &-container {
        display: grid;
        grid-gap: 15px auto;
        width: 100%;
        grid-template-columns: minmax(0, 61px) minmax(0, 68px) minmax(0, 120px);
        justify-content: space-between;
      }
      &-column {
        &-title {
          font-size: 14px;
          line-height: 14px; /* 111.111% */
          gap: 3px;
          white-space: wrap;

          & svg {
            width: 8px;
            height: 8px;
          }
        }
        &-item {
          font-size: 14px;
          line-height: 14px;
        }
      }
    }

    &__btn {
      gap: 6px;
      &-title {
        font-size: 20px;
      }
    }
    &__regions {
      gap: 16.5px;

      &-item {
        padding-bottom: 21px;
        font-size: 14px;
        line-height: 16px; /* 111.111% */

        &_selected {
          border-bottom: 2px solid $redColor;
        }
      }
    }
    &__map {
      position: absolute;
      top: 100px;
      left: -5px;
      max-width: 862px;
      min-height: 446px;
      width: 100%;
      height: 100%;
      & svg {
        width: 862px;
        height: 445.79px;
      }
    }
  }
}
